$color-white: #fff;
$color-light: #e0e0e0;
$color-gray: #8a8989;

body {
  .d-none {
    display: none !important;
  }

  main {
    margin-top: 3rem;

    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem auto 2rem auto;
      align-items: center;

      .units-radio-wrapper {
        margin: 1rem;

        .label-f {
          margin-right: 0.75rem;
          cursor: pointer;
        }

        .label-c {
          cursor: pointer;
        }
      }

      form {
        input {
          border-radius: 5px;
          padding: 0.5rem 1rem;
          border: 1px solid $color-light;

          &.search-input {
            margin-right: 0.5rem;
            text-transform: capitalize;

            &:focus {
              border-color: $color-light;
            }
          }

          &.search-submit:not([disabled]) {
            cursor: pointer;

            &:hover {
              background-color: $color-gray;
              color: $color-white;
            }
          }
        }
      }
    }

    .bookmarks-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem auto;

      .bookmark {
        text-transform: capitalize;
        line-height: 1.5;
        margin: 0.2rem 0.4rem;

        .bookmark-remove {
          margin-left: 0.25rem;
          height: 0.75rem;
          cursor: pointer;
        }

        .bookmark-search {
          border-radius: 5px;
          border: 1px solid $color-light;
          cursor: pointer;

          &:hover {
            background-color: $color-gray;
            color: $color-white;
          }
        }
      }
    }

    .error-message {
      display: flex;
      justify-content: center;
      margin: 0.75rem auto;
      font-size: 1.3rem;
      font-weight: bold;
      color: chocolate;
    }

    .current-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      .current-info {
        display: flex;
        flex-direction: column;

        .current-temp {
          font-size: 3.5em;
        }

        i {
          font-size: 1.5em;
        }

        .star {
          height: 1em;
          cursor: pointer;
          margin-left: 1rem;
        }
      }
    }

    .daily-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem auto;

      .daily-card {
        margin: 0 1rem 4rem 1rem;
        text-align: center;
        box-shadow: 0 2px 6px 1px $color-light;
        padding: 1.2rem;

        .temp-max {
          font-size: 2.5em;
        }

        .temp-min {
          font-size: 1.5em;
          color: $color-gray;
        }

        .daily-description {
          margin-top: 1rem;

          i {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
