$color-gray: #e0e0e0;
$color-dark: #8a8989;

body {
  .d-none {
    display: none !important;
  }

  main {
    margin-top: 3rem;

    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem auto;
      align-items: center;

      .units-radio-wrapper {
        margin: 1rem;

        .label-f {
          margin-right: 0.75rem;
        }
      }

      form {
        input {
          border-radius: 5px;
          padding: 0.5rem 1rem;
          border: 1px solid $color-gray;

          &.search-input {
            margin-right: 0.5rem;

            &:focus {
              border-color: $color-gray;
            }
          }

          &.search-submit:not([disabled]) {
            cursor: pointer;

            &:hover {
              background-color: $color-dark;
              color: #fff;
            }
          }
        }
      }
    }

    .error-message {
      display: flex;
      justify-content: center;
      margin: 0.75rem auto;
      font-size: 1.3rem;
      font-weight: bold;
      color: chocolate;
    }

    .current-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;

      .current-info {
        display: flex;
        flex-direction: column;

        .current-temp {
          font-size: 3.5em;
        }

        i {
          font-size: 1.5em;
        }
      }
    }

    .daily-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem auto;

      .daily-card {
        margin: 0 2rem 4rem 2rem;
        text-align: center;

        .temp-max {
          font-size: 2.5em;
        }

        .temp-min {
          font-size: 1.5em;
          color: $color-dark;
        }

        .daily-description {
          margin-top: 1rem;

          i {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
